body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #43aa8b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red-button {
  color: #f94144;
}
.green-button {
  background-color: #43aa8b;
  border: 1px solid #555;
}

#root {
  max-width: 680px;
  background-color: #f9c74f;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}

footer {
  min-width: 380px;
  padding: 1rem;
  margin-top: 1.6rem;
  background-color: lightskyblue;
  color: #555;
  border-radius: 0.4rem;
  text-align: center;
  position: relative;
}
